.category-filter {
    background-attachment: fixed;
    background-image: url("../../assets/images/white-back.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.category-filter h2 {
    color: #282828;
    font-size: 35px;
}