    .pagination{
        margin-left: 250px !important;
    }

    .table-striped{
        background-color: white;
        margin-top: 10px;
    }
    .input-group{
        width: 50%;
    }

    th{color:orange;}
    .app-main__outer{
      margin-top: -680px !important;
    }
    .btn-list-profils{
        		color:white !important;
        		margin-top: 10px;
        		margin-left: 400px;
        		font-size:30px;height:40px;width:330px;
        	}
    .card{
       height: 60px;
         }
    .app-main__outer{
      margin-top: -680px !important;
      margin-left: 266px;
    }

    .input_search{
      margin-left:-31px;
    }
