    .pagination{
        margin-left: 220px !important;
    }

    .table-striped{
        background-color: white;
        margin-top: 10px;
    }
    .input-group{
        width: 50%;
    }

    th{
    color:orange;
    }

    .app-main__outer{
    margin-top: -770px !important;
    margin-left: 235px;
    }
  	.card{
  		height: 60px;
  	}

   	.btn-list-emprunts{
   		color:white !important;
   		margin-top: 10px;
   		margin-left: 390px;
   		font-size:30px;height:40px;width:330px;
   	}
