<div id="content" class="site-content">
    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <div class="signin-main">
                <div class="container">
                    <div class="woocommerce">
                        <div class="woocommerce-login">
                            <div class="company-info signin-register">
                                <div class="col-md-10 col-md-offset-1 ">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="company-detail new-account bg-dark">
                                                <div class="new-user-head">
                                                    <h2 style="color: white;">Log In</h2>
                                                    <span class="underline left"></span>
                                                    <p style="color: white;">If You Don't have an account, please
                                                        <a style="color: #ff7236 !important;" routerLink="../singup">Registre</a></p>
                                                </div>
                                                <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                                                    <p class="form-row form-row-first input-required">
                                                        <label>
                                                            <span class="first-letter">Mail Adresse</span>
                                                            <span class="second-letter">*</span>
                                                        </label>
                                                        <input formControlName="email" type="email" class="input-text">
                                                    </p>
                                                    <p class="form-row form-row-first input-required">
                                                        <label>
                                                            <span class="first-letter">Password</span>
                                                            <span class="second-letter">*</span>
                                                        </label>
                                                        <input type="password" formControlName="password" class="input-text">
                                                    </p>
                                                    <div class="clear"></div>
                                                    <!-- <div class="password-form-row"> -->
                                                        <!-- <p class="form-row input-checkbox">
                                                            <input type="checkbox" value="forever" id="rememberme"
                                                                name="rememberme">
                                                            <label class="inline" for="rememberme">Remember me</label>
                                                        </p> -->
                                                        <!-- <p class="lost_password">
                                                            <a href="#" style="color: #ff7236;">Lost your Password?</a>
                                                        </p> -->
                                                    <!-- </div> -->
                                                    <input type="submit" [disabled]="signInForm.invalid" class="button btn btn-default">
                                                    <div class="clear"></div>
                                               </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clear"></div>
                                <br />
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>