<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-radio icon-gradient bg-strong-bliss">
                        </i>
                    </div>
                    <div>Profils
                        <div class="page-title-subheading">Add scrolling areas to any elements with custom scrollbars or default browser ones.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card-body">
                <div class="col-md-12">
                    <div id="accordion" class="accordion-wrapper mb-3">
                        <div class="card">
                            <div id="headingOne" class="card-header">
                                <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block collapsed">
                                    <h5 class="m-0 p-0">Filtrer</h5>
                                </button>
                            </div>
                            <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse">
                                <div class="card-body">
                                    <div class="position-relative row form-group"><label for="exampleEmail" class="col-sm-2 col-form-label">Nom</label>
                                        <div class="col-sm-10"><input name="name" id="exampleName" placeholder="saisir le nom" type="text" class="form-control"></div>
                                    </div>
                                    <div class="position-relative row form-group"><label for="exampleEmail" class="col-sm-2 col-form-label">Date d'inscription</label>
                                        <div class="col-sm-10">
                                            <select name="select" id="exampleSelect" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="position-relative row form-group">
                                        <div class="col-sm-10">
                                            <button class="mt-2 btn btn-primary" data-toggle="modal" data-target="#categorieModalupdate">Appliquer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="mb-0 table table-hover" style="background-color: white;">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Nom du Profil</th>
                            <th>Date de Création</th>
                            <th>Livres Empruntés</th>
                            <th>Livres Réservés</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>11-12-2015</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>11-12-2015</td>
                            <td>2</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>11-12-2015</td>
                            <td>-</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>Ford</td>
                            <td>01-02-2014</td>
                            <td>3</td>
                            <td>5</td>
                        </tr>	
                        <tr>
                            <th scope="row">5</th>
                            <td>Harry</td>
                            <td>11-06-2011</td>
                            <td data-toggle="modal" data-target="#exampleModal">1</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <th scope="row">6</th>
                            <td>Gold</td>
                            <td>10-07-2011</td>
                            <td data-toggle="modal" data-target="#exampleModal">3</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <th scope="row">7</th>
                            <td>Chris</td>
                            <td>11-11-2012</td>
                            <td data-toggle="modal" data-target="#exampleModal">1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th scope="row">8</th>
                            <td>Chris</td>
                            <td>11-11-2012</td>
                            <td data-toggle="modal" data-target="#exampleModal">1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th scope="row">9</th>
                            <td>Cat</td>
                            <td>03-07-2012</td>
                            <td data-toggle="modal" data-target="#exampleModal">3</td>
                            <td>-</td>
                        </tr>
                        </tbody>
                    </table>                           	
                </div>
            </div>
        </div>
    </div>
    <div class="app-wrapper-footer">

    </div>
</div>
