<div class="col-xl-12" style="padding-left:10%; padding-top:5%; padding-right: 10%; padding-bottom:5%;">
    <div class="dashboard-box margin-top-0">

        <!-- Headline -->
        <div class="headline">
            <h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
        </div>

        <div class="content with-padding padding-bottom-0">

            <div class="row">

                <div class="col-auto" style="padding-left:3% ;">
                    <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                        <img class="profile-pic" src="../../assets/images/team-img-06.jpg" alt="" />
                        <div class="upload-button"></div>
                        <input class="file-upload" type="file" accept="image/*" />
                    </div>
                </div>

                <div class="col" style="padding-left: 10%;
                padding-right: 5%;">
                    <div class="row">

                        <div class="col-xl-6 col-md-6">
                            <div class="submit-field">
                                <h5>First Name</h5>
                                <input type="text" class="with-border" value="Tom">
                            </div>
                        </div>

                        <div class="col-xl-6 col-md-6">
                            <div class="submit-field">
                                <h5>Last Name</h5>
                                <input type="text" class="with-border" value="Smith">
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-12">
                            <div class="submit-field">
                                <h5>Email</h5>
                                <input type="text" class="with-border" value="tom@example.com">
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- start: progress reservition -->
<div class="row" style="padding-bottom:5%;">

    <!-- Dashboard Box -->
    <div class="col-xl-12" style="padding-left:10%; padding-right: 10%;">
        <div class="dashboard-box margin-top-0">

            <!-- Headline -->
            <div class="headline">
                <h3><i class="icon-material-outline-assignment"></i> Reservation</h3>
            </div>

            <div class="content">
                <ul class="dashboard-box-list">
                    <li>
                        <!-- Job Listing -->
                        <div class="job-listing width-adjustment">

                            <!-- Job Listing Details -->
                            <div class="job-listing-details">

                                <!-- Details -->
                                <div class="job-listing-description">
                                    <h3 class="job-listing-title"><a href="#">this the title of the book</a> <span
                                            class="dashboard-status-button yellow">Available</span></h3>

                                    <!-- Job Listing Footer -->
                                </div>
                            </div>
                        </div>

                        <!-- Task Details -->
                        <ul class="dashboard-task-info">
                            <li><strong>12 juin 2020</strong><span>Date De reservition</span></li>
                            <li><strong>30 juin 2020</strong><span>Date A rendre</span></li>
                        </ul>

                        <!-- Buttons -->
                        <div class="buttons-to-right always-visible">
                            <a href="dashboard-manage-bidders.html" class="button ripple-effect"
                                style="background-color: #ff7236;"> Available To Pick-Up</a>
                            <a href="#" class="button gray ripple-effect ico" title="Remove"><i
                                    class="fa fa-trash-o"></i></a>
                        </div>
                    </li>

                    <li>
                        <!-- Job Listing -->
                        <div class="job-listing width-adjustment">

                            <!-- Job Listing Details -->
                            <div class="job-listing-details">

                                <!-- Details -->
                                <div class="job-listing-description">
                                    <h3 class="job-listing-title"><a href="#">this the title of the book</a></h3>

                                    <!-- Job Listing Footer -->
                                    <div class="job-listing-footer">
                                        <ul>
                                            <li><i class="fa fa-clock-o"></i> 6 days, 23 hours (to be Available)</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="buttons-to-right always-visible">
                            <a href="dashboard-manage-bidders.html" class="button ripple-effect"> Not Available To
                                Pick-Up</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</div>
<!-- end: progress reservition -->