.btn-ajouter-categorie{
    color:white !important;
}
.filter{
    height: 60px !important;
}
.pagination{
    margin-left: 220px !important;
    margin-top: -8px;
}
.th-table-livre{
    height: 50px;
}
.img-circle{
    height:100px;width:100px;
}
.table-striped{
    background-color: white;
}
.input-livre{
    width: 100%;

}
.input-livre-img{
    margin-left: 14px !important;
    width:71%;
}

.modal-body{
    margin-top: -4px;
}
.modal-header{
    margin-top: -30px;
}
.modal-footer{
    margin-top: -27px;
}
.select-disponible{
    height: 33px;
    width: 570px; 
     border-radius: 8px;
     width: 100%;
}