<div class="app-main__outer  offset-sm-2 col-lg-10 app-main">
  <div class="app-main__inner">
    <div class="row">
      <div class="card-body">
        <div class="col-md-12">
          <div id="accordion" class="accordion-wrapper mb-3">
            <div class="card card-btn">
              <a class="btn btn-primary btn-lg btn-ajouter-categorie" data-toggle="modal" data-target="#categorieModal">
                Ajouter Une Categorie
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12 ">
          <div class="input-group offset-sm-6 rechercher">
            <input type="text" class="form-control" placeholder="Search...">
            <div class="input-group-append">
              <button class="btn btn-secondary" type="button">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>

          <table class="mb-0 table table-hover table-striped" >
            <thead>
            <tr class="th-table-livre">
              <th class="text-center">Num</th>
              <th class="text-center">Categorie</th>
              <th class="text-center">Disbonibilité</th>
              <th class="text-center">Action</th>
            </tr>
            </thead>
            <tbody *ngIf="NotEmpty">
            <tr class="td-table" *ngFor="let l of categories.content; let i = index" [attr.data-index]="i">
              <td class="text-center">{{i+1}}</td>
              <td class="text-center">{{l.title}}</td>
              <td class="text-center" *ngIf="l.active == 1">oui</td>
              <td class="text-center" *ngIf="l.active == 0">non</td>
              <td class="text-center">
                <button class="btn btn-md btn-info css-btn" data-toggle="modal" 
                (click)="onUpdateCategory(l.id_category)" data-target="#categorieModalupdate">
                  <i class="fas fa-edit"></i>
                </button>
                <!--<button class="btn btn-md btn-success css-btn">
                  <i class="fa fa-eye"></i>
                </button>-->
                <button class="btn btn-md btn-danger css-btn">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table> <br><br>
          <div class="text-center pagination">
            <ul   *ngIf="pages" class="pagination">
              <li [ngClass]="i==currentPage? 'active':''" *ngFor="let p of pages; let i=index"  class="clickable">
                <a (click)="onPageProduct(i)"> {{i+1}}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="app-wrapper-footer">
      </div>
    </div>
  </div>
</div>





<div class="modal fade modal" id="categorieModal" tabindex="-1" role="dialog" aria-labelledby="categorieModal" style="" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="categorieModalLabel">La Création D'Une Novelle Catégorie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="modal-x">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="position-relative row form-group">
          <label for="exampleEmail" class="col-sm-3 col-form-label">Nom De Catégorie :</label>
          <div class="col-sm-9"><input name="name" id="categorie" placeholder="saisir le nom de la Catégorie" type="text" class="form-control  input-livre"></div>
        </div>

        <div class="position-relative row form-group">
          <label for="exampleEmail" class="col-sm-3 col-form-label">Disponibilité :</label>
          <div class="col-sm-9  input-livre ">
            <select class="select-disponible">
              <option value="volvo">Disponible</option>
              <option value="saab">Indisponible</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade modal" id="categorieModalupdate" tabindex="0" role="dialog" aria-labelledby="categorieModalUpdate" style="" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content" *ngIf="categoryUpdated">
      <div class="modal-header">
        <h5 class="modal-title" id="categorieModalLabel">Modifier Catégorie</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="modal-x">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="position-relative row form-group">
          <label for="exampleEmail" class="col-sm-3 col-form-label">Nom De Catégorie :</label>
          <div class="col-sm-9">
            <input name="name" 
                  [value]="categoryUpdated!= 'undefined'?categoryUpdated.title:''" 
                  id="categorie_up" placeholder="saisir le nom de la Catégorie" 
                  type="text" class="form-control  input-livre"
                  (input)="categoryUpdated.title = $event.target.value">
          </div>
        </div>

        <div class="position-relative row form-group">
          <label for="exampleEmail" class="col-sm-3 col-form-label">Disponibilité :</label>
          <div class="col-sm-9  input-livre ">
            <select class="select-disponible" (change)="availabilityChange($event.target.value)">
              <option [value]="1" [selected]="categoryUpdated.active==1?true:''" >Disponible</option>
              <option [value]="0" [selected]="categoryUpdated.active==0?true:''">Occupé</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveCategory()">Modifier</button>
      </div>
    </div>
  </div>
</div>
