<app-search-bar></app-search-bar>
<div class="row cont" style="padding: 10%;">
    <div class="col-md-9 col-md-push-3">
        <div class="filter-options margin-list">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <select name="orderby">
                        <option selected="selected">Default sorting</option>
                        <option>Sort by popularity</option>
                        <option>Sort by rating</option>
                        <option>Sort by newness</option>
                        <option>Sort by price</option>
                    </select>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="filter-result">Showing items 1 to 9 of 19 total</div>
                </div>
            </div>
        </div>
        <div class="books-list" *ngIf="livres">
            <article *ngFor="let l of livres.content" >
                <div class="single-book-box" >
                    <div class="post-thumbnail col-md-5" >
                        <!-- <div class="book-list-icon yellow-icon"></div> -->
                        <a [routerLink]="['/bookdetails', l.id_book]">
                            <img alt="Book" src="../../assets/images/Coming-Soon.png" />
                        </a>
                    </div>
                    <div class="post-detail col-md-7" >
                        <header class="entry-header">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h3 class="entry-title">
                                        <a [routerLink]="['/bookdetails', l.id_book]">{{l.title}}</a>
                                    </h3>
                                    <ul>
                                        <li><strong>Author:</strong> {{l.author}}</li>
                                        <li><strong>Date:</strong> {{l.date_publication}}</li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul>
                                        <li><strong>Edition:</strong> {{l.edition}}</li>
                                        <li><strong>Local Availability:</strong>{{l.quantite}}</li>
                                    </ul>
                                </div>
                            </div>
                        </header>
                        <div class="entry-content">
                            <p>{{l.description}}</p>
                        </div>
                        <footer class="entry-footer" *ngIf="l.available == 1">
                            <a class="btn btn-dark-gray" href="#">Reserve</a>
                        </footer>
                        <footer class="entry-footer" *ngIf="l.available == 0">
                            <a class="btn btn-dark-gray" disabled>Not available</a>
                        </footer>
                    </div>
                    <div class="clear"></div>
                </div>
            </article>
        </div>
        <nav  class="navigation pagination text-center">
            <h2 class="screen-reader-text">Posts navigation</h2>
            <div class="nav-links">
                <span [ngClass]="i==currentPage? 'current':''"
                class="page-numbers "
                *ngFor="let p of pages; let i=index"
                (click)="onPageProduct(i)">
                    {{i+1}}
                </span>
            </div>
        </nav>
    </div>
    <div class="col-md-3 col-md-pull-9">
        <aside id="secondary" class="sidebar widget-area" data-accordion-group>
            <div class="widget widget_recent_releases">
                <h4 class="widget-title">Categories</h4>
                <ul *ngIf="Categories">
                    <li *ngFor="let cat of Categories" ><a [ngClass]="{'active-cat': cat == currentCategorie}" (click)="onGetlivres(cat)" >{{cat.title}}</a></li>
                </ul>
                <div class="clearfix"></div>
            </div>

        </aside>
    </div>
</div>