
	.btn-ajouter-livre{
		color:white !important;
	}
	.filter{
		height: 60px !important;
	}
	.filter-button{
		font-size: 18px;
	}
	.pagination{
		margin-left: 220px !important;
		margin-top: -8px;
	}
	.th-table-livre{
		height: 50px;
		font-size: 20px;
	}
	.input-livre{
		width: 100%;

	}
	.input-livre-img{
		margin-left: 14px !important;
		width:71%;
	}
	.img-circle{
		height:100px;width:100px;
	}
	.table-striped{
		background-color: white;
	}
	.input-livre{
		width: 100%;

	}

	.modal-x{
		font-size: 30px;
	}
	.select-disponible{
		height: 33px;
		width: 570px; 
	 	border-radius: 8px;
	 	width: 100%;
	}
	.css-btn
    {
              display: inline;
              /* width:50px !important;
              height:35px; */
              margin:5px !important;
    }

	.clickable{
	cursor: pointer;
	}

	.activeUp{
		display: block;
	}
	.unactiveUp{
		display: hidden;
	}
