    .btn-primary{
        color:white !important;
        width: 15%;
        margin-top: 13px;
        margin-left: 10px;
    }
    .card-btn{
        margin-top: 10px;
        height: 60px;
    }
