<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div class="page-title-icon">
                        <i class="pe-7s-wallet icon-gradient bg-plum-plate">
                        </i>
                    </div>
                    <div>Liste des demandes d'inscription
                        <div class="page-title-subheading">
                            <button class="btn btn-link" (click)="touAfficher()">Tout Afficher<span class="badge badge-pill badge-primary">6</span></button>
                            <button class="btn btn-link">Cette Annee<span class="badge badge-pill badge-success">6</span></button>
                            <button class="btn btn-link">Ce Mois-ci<span class="badge badge-pill badge-danger">6</span></button>
                            <button class="btn btn-link" (click)="touAfficher()">Ajourd'hui<span class="badge badge-pill badge-warning">6</span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="row">
            <div class="card-body">
                <!-- <div class="col-md-12">
                    <div id="accordion" class="accordion-wrapper mb-3">
                        <div class="card">
                            <div id="headingOne" class="card-header">
                                <button type="button" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="false" aria-controls="collapseOne" class="text-left m-0 p-0 btn btn-link btn-block collapsed">
                                    <h5 class="m-0 p-0">Filtrer</h5>
                                </button>
                            </div>
                            <div data-parent="#accordion" id="collapseOne1" aria-labelledby="headingOne" class="collapse">
                                <div class="card-body">
                                    <div class="position-relative row form-group"><label for="exampleEmail" class="col-sm-2 col-form-label">Nom</label>
                                        <div class="col-sm-10"><input name="name" id="exampleName" placeholder="saisir le nom" type="text" class="form-control"></div>
                                    </div>
                                    <div class="position-relative row form-group"><label for="exampleEmail" class="col-sm-2 col-form-label">Date d'inscription</label>
                                        <div class="col-sm-10">
                                            <select name="select" id="exampleSelect" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="position-relative row form-group">
                                        <div class="col-sm-10">
                                            <button class="mt-2 btn btn-primary">Appliquer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12">
                    <table class="mb-0 table table-hover" style="background-color: white;">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                            <th>Adresse mail </th>
                            <th>Date de la Demande</th>
                            <th class="text-center">Accepter</th>
                            <th class="text-center">Refuser</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let d of demandes._embedded.demandes; let i = index">
                            <th scope="row">{{1+i}}</th>
                            <td>{{ d.first_name}}</td>
                            <td>{{ d.last_name }}</td>
                            <td>{{ d.mail }}</td>
                            <td>{{ d.date }}</td>
                            <td class="text-center">
                                <button class="mr-2 btn-icon btn-icon-only btn btn-outline-success"><i class="pe-7s-check btn-icon-wrapper"> </i></button>
                            </td>
                            <td class="text-center">
                                <button class="mr-2 btn-icon btn-icon-only btn btn-outline-danger"><i class="pe-7s-trash btn-icon-wrapper"> </i></button>
                            </td>
                        </tr>
                        </tbody>
                    </table> <br><br>
                    <div class="text-center pagination">
                      <ul  class="pagination" *ngIf="allPage">
                        <li [ngClass]="i==currentPage? 'active':''" *ngFor="let p of pages; let i=index"  class="clickable">
                          <a (click)="onPageProduct(i)"> {{i+1}}</a>
                        </li>
                      </ul>
                    </div>                           	
                </div>
            </div>
        </div>
    </div>

    <div class="app-wrapper-footer">
    </div>
</div>
  